[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "3.0.3"
flask-marshmallow = "*"
Werkzeug = "2.2.2"
flask-restful = "*"
flask-cors = "*"
faker = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"

[requires]
python_full_version = "3.8"

[dev-packages]
